body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	
    background-color: #eee;

	display: flex;
	flex-direction: column;

	min-height: 100vh;
}
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
.container {
	flex-grow: 1;
}
.input-container {
	width: calc(min(600px, 100vw - 40px));
	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.input-field {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	margin-bottom: 20px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;	
}

.output {
	margin-top: 20px;
}

#error-message {
	font-weight: bold;
	height: 1em;
	display: block;
	color: red;
	margin-bottom: 20px;
	transition: opacity 0.2s;
}

.horizontal {
    margin: 20px;
	display: flex;
	align-items: center;
}

.horizontal p {
	flex: 2;
	text-align: right;
}

.horizontal math {
	flex: 3;
	transition: opacity 0.2s;
}

.result-section span {
	display: block;
	min-height: 1em;
	transition: opacity 0.2s;
	font-style: italic;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.2em;
	color: #888;
}

hr {
	border-color: #0003;
}

a {
	color: #fff;
}

a:hover {
	text-decoration: none;
}